<h1>ダッシュボード</h1>

<h2>カテゴリ別支出</h2>
<% @category_totals.each do |category_id, total| %>
<p><%= Category.find(category_id).name %>: <%= total %>円</p>
<% end %>

<div>
    <p>今月の支出合計: <%= @total %></p>
</div>

<div>
    <% if @budget.present? %>
    <p>今月の予算: <%= @budget.amount %></p>
    <p>残額: <%= @budget.amount - @total %></p>
    <p><%= link_to "予算を更新する", edit_budget_path(@budget) %></p>
    <% else %>
    <p>予算が設定されていません</p>
    <%= link_to "予算を設定する", new_budget_path %>
    <% end %>
</div>

<div>
    <%= link_to "支出を追加する",new_expense_path %>
</div>